.app {
    margin: 0px;
    text-align: center;
    height: 100vh;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}

#theWord {
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
}

.box input{
    height: 60px;
    font-size: larger;
    text-align: center;
}